.progress-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 10px 20px;
}

.progress-bar {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  min-width: 200px;
}

.progress-bar span {
  font-size: 0.9rem;
  margin: 0 5px;
}

.progress-bar .progress-meter {
  flex-grow: 1;
  height: 20px;
  background-color: #4caf50;
  border-radius: 5px;
  transition: width 0.5s ease;
}


.search-dropdown{
  display: inline-block;
  position: relative;
}

.search-dropdown .search-button {
  padding: 8px 12px;
  font-size: 0.9rem;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 3px;
}


.search-dropdown .search-button{
  cursor: pointer
}

.search-dropdown .search-button:hover{
  background-color: hsl(0, 0%, 90%);
}

.search-dropdown div{
  display: block;
  color: black;
  padding: 10px 15px;
}

.search-dropdown .search-content{
  position: absolute;
  min-width: 100px;
  background-color: #fcfcfc;
  box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.1);
}

.submit-button {
  padding: 5px 10px;
  font-size: 0.9rem;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: hsl(122, 39%, 39%);
}


.portrait {
  width: 256px;
  height: 144px;
  object-fit: cover;
  border-radius: 10px;
  border: 2px solid #333;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
